<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Nageena Suman PK/IdeaProjects/APIAutomationFramework-Complete">
        <groups>
            <run>
                <include name="qa"></include>
            </run>
        </groups>
        <classes>
            <class name="org.nageena.TestsFiles.CRUD.CreateBooking_POST">

            </class>
            <class name="org.nageena.TestsFiles.SampleTest.SampleIntegrationTest">

            </class>
        </classes>
    </test>
</suite>